# Project 2: Data cleaning and manipulation with Pandas

**Data set used:** Global sharks attack from kaggle

## Question to answer:
- Have sharks' location/habitat changed due to climate change/pollution?
- Has the month with more attacks changed since 1800? 
- Has the season with more attacks changed since 1800? 

To answer this question, I need to check over the time if the attacks' location when they attacked has changed.
After some research, it seems that sharks do not live in very cold waters, the usually prefer waters around 22°C, however it depends on the specie.

In [1]:
# Install library countryinfo to have more information about the countries:
#!pip install countryinfo

## Import libraries

In [2]:
import pandas as pd
import numpy as np
import re
from countryinfo import CountryInfo

## Load the data

In [3]:
attacks = pd.read_csv('../data/attacks.csv', encoding = "ISO-8859-1")

## Data cleaning

Check the columns: how many there are, if there is any duplicate, etc.

In [4]:
display(attacks.columns)

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Delete columns that won't be used: 
- Investigator or Source
- pdf, href, href formula
- original order
- Name
- Sex
- Age
- Activity
- Time
- Type
- Species

In [5]:
attacks.drop(columns=['Activity', 'Name', 'Sex ', 'Age', 'Time', 'Type', 'Species ', 'Investigator or Source', 
                      'pdf', 'href formula', 'href', 'original order'], inplace=True)

In [6]:
# Delete last 2 columns because they have no name and one is empty 
# and in the other one there is only one observation with data

attacks.drop(columns=['Unnamed: 23', 'Unnamed: 22'], inplace=True)

In [7]:
# Remove duplicates

attacks = attacks.drop_duplicates()

In [8]:
# Remove all the rows whose case number is 0:
attacks = attacks[attacks['Case Number']!= '0']

# Remove all the null values:
attacks = attacks[~attacks['Case Number'].isnull()]

# Remove the last line that contains NaN and the case number is xx:
attacks = attacks.head(-1)

In [9]:
# The three columns called Case Number contains the same information, so the last two will be removed:
attacks.drop(columns=['Case Number.1', 'Case Number.2'], inplace=True)

In [10]:
attacks.isnull().sum()

Case Number      0
Date             0
Year             2
Country         50
Area           455
Location       540
Injury          28
Fatal (Y/N)    539
dtype: int64

In [11]:
# Check what are the unique values of the column Year
pd.unique(attacks['Year'])

array([2018., 2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011.,
       2010., 2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002.,
       2001., 2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994.,
       1993., 1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986.,
       1985., 1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976.,
       1975., 1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966.,
       1965., 1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957.,
       1956., 1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948.,
       1848., 1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940.,
       1939., 1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931.,
       1930., 1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922.,
       1921., 1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913.,
       1912., 1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904.,
       1903., 1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895.,
       1894., 1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886.,
       1885., 1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877.,
       1876., 1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868.,
       1867., 1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859.,
       1858., 1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849.,
       1847., 1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837.,
       1836., 1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827.,
       1826., 1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815.,
       1812., 1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802.,
       1801., 1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785.,
       1784., 1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758.,
       1753., 1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723.,
       1721., 1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580.,
       1555., 1554., 1543.,  500.,   77.,    5.,    0.])

In [12]:
# In the rows were the year is 0, some values can be extracted from the date.
# I take the last year if there is more than two (i.e. between 2006 - 2009 -> year = 2009)

attacks.loc[attacks['Year']== 0,['Year']] = attacks[attacks['Year']== 0]['Date'].str.extract('([\d]{4}$)').astype('float')

# If the null has a year value in Date, extract is and replace it
attacks.loc[attacks['Year'].isnull(),'Year'] = attacks[attacks['Year'].isnull()]['Date'].str.extract('([\d]{4})').astype('float')

# Remove all the rows with nulls in the year
attacks = attacks[attacks['Year'].notna()]
# Years before 1700 AD won't be considered
attacks = attacks[attacks['Year'] >= 1700]

# Convert to interger all the year column
attacks['Year'] = attacks['Year'].astype(int)

## Clean countries' column

In [13]:
pd.unique(attacks['Country'])

array(['USA', 'AUSTRALIA', 'MEXICO', 'BRAZIL', 'ENGLAND', 'SOUTH AFRICA',
       'THAILAND', 'COSTA RICA', 'MALDIVES', 'BAHAMAS', 'NEW CALEDONIA',
       'ECUADOR', 'MALAYSIA', 'LIBYA', nan, 'CUBA', 'MAURITIUS',
       'NEW ZEALAND', 'SPAIN', 'SAMOA', 'SOLOMON ISLANDS', 'JAPAN',
       'EGYPT', 'ST HELENA, British overseas territory', 'COMOROS',
       'REUNION', 'FRENCH POLYNESIA', 'UNITED KINGDOM',
       'UNITED ARAB EMIRATES', 'PHILIPPINES', 'INDONESIA', 'CHINA',
       'COLUMBIA', 'CAPE VERDE', 'Fiji', 'DOMINICAN REPUBLIC',
       'CAYMAN ISLANDS', 'ARUBA', 'MOZAMBIQUE', 'FIJI', 'PUERTO RICO',
       'ITALY', 'ATLANTIC OCEAN', 'GREECE', 'ST. MARTIN', 'FRANCE',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'NIGERIA', 'TONGA', 'SCOTLAND',
       'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE', 'ANTIGUA', 'KENYA',
       'RUSSIA', 'TURKS & CAICOS', 'UNITED ARAB EMIRATES (UAE)', 'AZORES',
       'SOUTH KOREA', 'MALTA', 'VIETNAM', 'MADAGASCAR', 'PANAMA',
       'SOMALIA', 'NEVIS', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL',
       'YEMEN', 'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN',
       'GRAND CAYMAN', 'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ',
       'HONDURAS', 'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ICELAND', 'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA',
       'HAITI', 'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'YEMEN ',
       'REUNION ISLAND', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS', 'EGYPT ',
       'WEST INDIES', 'BURMA', 'LEBANON', 'PARAGUAY',
       'BRITISH NEW GUINEA', 'CEYLON', 'OCEAN', 'GEORGIA', 'SYRIA',
       'TUVALU', 'INDIAN OCEAN?', 'GUINEA', 'ANDAMAN ISLANDS',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'TOBAGO', 'PERU',
       'AFRICA', 'ALGERIA', 'Coast of AFRICA', 'TASMAN SEA', 'GHANA',
       'GREENLAND', 'MEDITERRANEAN SEA', 'SWEDEN', 'ROATAN'], dtype=object)

Drop all the rows where the columns Country, Area and Location are nulls

In [14]:
attacks.dropna(how='all', subset=['Country','Area','Location'], inplace=True)

In [15]:
# The area = English Channel is assigned to England in another entry:

attacks.loc[attacks['Area'] == 'English Channel','Country'] = 'UK'

attacks.loc[attacks['Location'] == 'Between St. Kitts & Nevis','Country'] = 'Saint Kitts and Nevis'

attacks.loc[attacks['Location'] == 'Florida Strait','Country'] = 'Cuba'
attacks.loc[attacks['Location'] == 'Between Cuba & Costa Rica','Country'] = 'COSTA RICA'
attacks.loc[attacks['Area'] == 'Between Timor & Darwin, Australia','Country'] = 'AUSTRALIA'
attacks.loc[attacks['Area'] == 'Near the Andaman & Nicobar Islands','Country'] = 'INDIA'
attacks.loc[attacks['Area'] == 'Between Comores & Madagascar','Country'] = 'MADAGASCAR'
attacks.loc[attacks['Area'] == '300 miles east of St. Thomas (Virgin Islands)','Country'] = 'MADAGASCAR'

attacks = attacks[attacks['Country'].notna()]

1) Remove parenthesis and /

2) Sustitue all names of the countries for names inside the CountryInfo library

In [23]:
attacks['Country'] = attacks['Country'].str.replace('/ [\w]+.|\?','')
attacks['Country'] = attacks['Country'].str.replace('^\s|\s+$','')
attacks['Country'] = attacks['Country'].str.replace('ENGLAND|SCOTLAND|BRITISH VIRGIN ISLANDS','UK')
#attacks['Country'] = attacks['Country'].str.replace('BAHAMAS','THE BAHAMAS')
attacks['Country'] = attacks['Country'].str.replace('COLUMBIA','COLOMBIA')
attacks['Country'] = attacks['Country'].str.replace('OKINAWA','JAPAN')
attacks['Country'] = attacks['Country'].str.replace('AZORES','PORTUGAL')
attacks['Country'] = attacks['Country'].str.replace('^ATLANTIC OCEAN$','NORTH ATLANTIC OCEAN')
attacks['Country'] = attacks['Country'].str.replace('ST. ANGUILLA|CARIBBEAN SEA|ANTIGUA|MARTIN|NEVIS|ST. MAARTIN','ANGUILLA')
attacks['Country'] = attacks['Country'].str.replace('GRAND CAYMAN','CAYMAN ISLANDS')
attacks['Country'] = attacks['Country'].str.replace('^MICRONESIA','FEDERATED STATES OF MICRONESIA')

Complete the null values for country column using the location and area columns and drop the rest

In [17]:
attacks.loc[attacks['Country'].str.contains('UNITED ARAB EMIRATES') ,'Country'] = 'UNITED ARAB EMIRATES'
attacks.loc[attacks['Country'].str.contains('RED') ,'Country'] = 'EGYPT' #chosen for proximity
attacks.loc[attacks['Country'].str.contains('ST HELENA') ,'Country'] = 'SAINT HELENA'
attacks.loc[attacks['Country'].str.contains('TRINIDAD') ,'Country'] = 'VENEZUELA' #chosen for proximity
attacks.loc[attacks['Country'].str.contains('DIEGO') ,'Country'] = 'MALDIVES' #chosen for proximity
attacks.loc[attacks['Country'].str.contains('PALESTINIAN') ,'Country'] = 'ISRAEL' #chosen for proximity
attacks.loc[attacks['Country'].str.contains('TURK') ,'Country'] = 'HAITI' #chosen for proximity
attacks.loc[attacks['Country'].str.contains('MONTENEGRO') ,'Country'] = 'CROATIA' #chosen for proximity
attacks.loc[attacks['Country'].str.contains('GULF OF ADEN') ,'Country'] = 'SOMALIA'
attacks.loc[attacks['Country'].str.contains('WESTERN SAMOA') ,'Country'] = 'SAMOA'
attacks.loc[attacks['Country'].str.contains('CENTRAL PACIFIC') ,'Country'] = 'SOUTH PACIFIC'

Drop the locations called: 'PACIFIC OCEAN', not clear if North or South hemisphere

In [18]:
attacks = attacks[attacks['Country'] != 'PACIFIC OCEAN']

In [19]:
attacks[attacks['Country'] == 'CENTRAL PACIFIC']

Empty DataFrame
Columns: [Case Number, Date, Year, Country, Area, Location, Injury, Fatal (Y/N)]
Index: []

## Create a column called Hemisphere and indicate if the attack was in the North or South hemisphere

Define a function to find out if a country belongs to the North or South hemisphere

In [20]:
def hemisphere(country):
    if 'NORTH' in country or 'SOUTH CHINA SEA' in country:
        return 'North'
    elif 'SOUTH' in country:
        return 'South'
    elif CountryInfo(country).latlng()[0] >= 0:
        return 'North'
    else:
        return 'South'

In [24]:
attacks['Hemisphere'] = attacks['Country'].apply(hemisphere)

KeyError: 'british isles'

## Create a month column

In [25]:
# Así no funciona, creo que es porque crea dos columnas con el resultado. No sé c¿omo hacer que solo haya una columna
#attacks['Month'] = attacks['Date'].str.extract('-([\w]+?)-|(^[a-zA-Z]{3})')

attacks['Month'] = attacks['Date'].str.extract('-([\w]+?)-')

# La siguiente línea debería extraer los meses de la columna Date para los valores donde Month es nulo,
# pero parece que no hace nada, pero la parte de la derecha sola si que filtra correctamente
attacks.loc[attacks['Month'].isnull(), 'Month'] = attacks[attacks['Month'].isnull()]['Date'].str.extract('(^[a-zA-Z]{3})')

#Correct July, Ap, March and Sept months' name to 3 letters strings:
attacks['Month'] = np.where(attacks['Month']=='July', 'Jul', 
                            np.where(attacks['Month']=='Ap', 'Apr', 
                                     np.where(attacks['Month']=='March', 'Mar', 
                                              np.where(attacks['Month']=='Sept', 'Sep', attacks['Month']))))
# Convert months names to numbers
look_up = { 'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4, 'May':5,'Jun':6, 
           'Jul': 7, 'Aug':8, 'Sep':9, 'Oct':10, 'Nov':11, 'Dec':12}

attacks['Month'] = attacks['Month'].apply(lambda x: look_up[x] if x in look_up else x)

# Drop nulls values
attacks = attacks[attacks['Month'].notna()]

# Convert all the values to integers
attacks['Month'] = attacks['Month'].astype('int')

There are some months that in fact they are days, so we need to correct them:

In [26]:
pd.unique(attacks['Month'])

array([ 6,  5,  4,  3,  2,  1, 12, 11, 10,  9,  8,  7, 30, 26, 24, 17, 13])

In [27]:
# Here we can see the month each of these 5 columns should have
attacks[attacks['Month'] >12]

,Case Number,Date,Year,Country,Area,Location,Injury,Fatal (Y/N),Month
3048,1980.12.30,12-30-1980,1980,SOUTH AFRICA,Eastern Cape Province,Nahoon,"No injury, paddleski bitten",N,30
5701,1890.06.26,06-26-1890,1890,CROATIA,NaN,Fiume,Legs severed,N,26
6125,1806.04.24,Aug-24-1806,1896,USA,NaN,NaN,Shark scavenged on the dead sailors,NaN,24
6128,1803.05.17,May-17-1803,1803,USA,South Carolina,Off Charleston,No injury,N,17
6130,1802.04.13.R,Reported Apr-13-1802,1802,INDIA,NaN,NaN,FATAL,Y,13

In [28]:
attacks.loc[attacks['Month'] == 30,'Month'] = 12
attacks.loc[attacks['Month'] == 26,'Month'] = 6
attacks.loc[attacks['Month'] == 24,'Month'] = 8
attacks.loc[attacks['Month'] == 17,'Month'] = 5
attacks.loc[attacks['Month'] == 13,'Month'] = 4

## Create a column season

Define the months for each season and each hemisphere

In [29]:
n_seasons = {'Winter': [12, 1, 2],
             'Spring': [3, 4, 5], 
             'Summer': [6, 7, 8],
             'Autumn': [9, 10, 11]}

s_seasons = {'Winter': [6, 7, 8],
             'Spring': [9, 10, 11], 
             'Summer': [12, 1, 2],
             'Autumn': [3, 4, 5]}

Create the season column and fill it in depending the hemisphere and the month number

In [32]:
def season(var, r):
    if var == 'North':
        if r in n_seasons['Winter']:
            return 'Winter'
        elif r in n_seasons['Spring']:
            return 'Spring'
        elif r in n_seasons['Summer']:
            return 'Summer'
        else:
            return 'Autumn'
    else:
        if r in s_seasons['Winter']:
            return 'Winter'
        elif r in s_seasons['Spring']:
            return 'Spring'
        elif r in s_seasons['Summer']:
            return 'Summer'
        else:
            return 'Autumn'

In [33]:
attacks['Season'] = attacks[attacks['Hemisphere']=='North']['Month'].apply(season('North'))

KeyError: 'Hemisphere'

Move the column month next to year

In [ ]:
attacks.isnull().sum()

In [ ]:
attacks

In [44]:
attacks.groupby('Month').values_count().plot(kind='bar')

AttributeError: 'DataFrameGroupBy' object has no attribute 'values_count'